@font-face {
    font-family: 'SinkinSans';
    src: url(../fonts/SinkinSans.otf);
}
@font-face {
    font-family: 'SinkinSansLight';
    src: url(../fonts/SinkinSansLight.otf);
}
html, body{
  padding: 0;
  margin: 0;
  height: 100%;
}
.solar-panel{
  position: fixed;
  left: 60%;
  top: 0;
  height: 100%;
  width: 40%;
  background: url('../pictures/solar-panel-2.jpg');
  background-size: cover;
}
.solar-overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

}
.content{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'SinkinSans';
}
.title{
  width: 650px;
  margin: 0 auto;
  margin-bottom: 50px;
}
h2{
  color: #999;
  font-family: 'SinkinSansLight';
}
.content > form > div{
  width: 650px;
  margin-bottom: 40px;
}
input, select{
  font-family: 'SinkinSans';
}
.content > form > div > label{
  width: 350px;
  display: inline-block;
}
.result{
  min-width: 100%;
  margin-bottom: 20px;
}
#slider{
  margin-bottom: 20px;
}
#result{
  border-width: 0px
}
input, select{
  width: 150px;
  box-sizing: border-box;
}
.ui-slider-handle{
  border-radius: 50%;
  padding: 2px;
  background-color: #ddd;
}
/*----------------Wynik---------------------*/
.result-block{
  width: 650px;
  margin-bottom: 20px;
}
.result-data{
  position: relative;
  left: 70px;
  top: -70px;
}
