<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8"/>
		<title>Kalkulator instalacji fotowoltaicznej</title>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
		<title>PV Cells | Home</title>

		<link rel="stylesheet" th:href="@{/app.css}" />

	</head>

	
	<body>
		<!-- Metodykę wysyłania formularza muszę rozgryźć. To co tu jest to jest źle. 
		Ograne to w przyszlosci -->
		<form action="submit" method="get" enctype="multipart/form-data">
			<div>
			
				<!-- Podstawowe pole tekstowe, chcę sprawdzić jak będzie wygladal import danych w postaci tekstu i liczb,
				stad te rozne formy wyboru i wpisywania danych (radio, -->
				<label for="usageRatio">Tutaj będzie suwak którym użytkownik wybierze jaki procent energii pokryje instalacja PV<strong>%</strong></label>
				<input name="usageRatio" class="form-control" id="usageRatio" value="" placeholder="tutaj powinien być suwak" type="text"/><br />


				<!-- Pole tekstowe -->
					<label for="kwh">Średnie miesięczne zużycie energii <strong>kWh</strong></label>
					<input name="kwh" class="form-control" id="kwh" value="" placeholder="500 kWh" type="text"/>

				<!-- Lista rozwijalna (typ podstawowy) z zaznaczoną opcją domyślną -->
				<p>Jaki jest Twoj dotychczasowy rachunek za prąd?
					<input name="electricityBill" placeholder="210 zł"/> </p>




				<p>Kąt nachylenia dachu</p>
					<select name="roofAngle" size="1">
						<option  value="0">0 stopni (poziomo) </option>
						<option  value="1">5 stopni</option>
						<option  value="2">10 stopni</option>
						<option  value="3">15 stopni</option>
						<option  value="4">20 stopni</option>
						<option  value="5">25 stopni</option>
						<option  value="6">30 stopni</option>
						<option  value="7" selected="selected" >35 stopni</option>
						<option  value="8">40 stopni</option>
						<option  value="9">45 stopni</option>
						<option  value="10">50 stopni</option>
						<option  value="11">55 stopni</option>
						<option  value="12">60 stopni</option>
						<option  value="13">65 stopni</option>
						<option  value="14">70 stopni</option>
						<option  value="15">75 stopni</option>
						<option  value="16">80 stopni</option>
						<option  value="17">85 stopni</option>
						<option  value="18">90 stopni (pionowo) </option>
					</select>

				<p>Wybierz miasto</p>
				<select name="city" >
					<option value="" selected="selected">Wybierz pobliskie miasto</option>
					<option value="Szczecin">Szczecin</option>
					<option value="Koszalin">Koszalin</option>
					<option value="Wałcz">Wałcz</option>
					<option value="Gdańsk">Gdańsk</option>
					<option value="Słupsk">Słupsk</option>
					<option value="Chojnice">Chojnice</option>
					<option value="Olsztyn">Olsztyn</option>
					<option value="Elbląg">Elbląg</option>
					<option value="Ełk">Ełk</option>
					<option value="Suwałki">Suwałki</option>
					<option value="Białystok">Białystok</option>
					<option value="Łomża">Łomża</option>
					<option value="Gorzów Wielkopolski">Gorzów Wielkopolski</option>
					<option value="Zielona Góra">Zielona Góra</option>
					<option value="Żary">Żary</option>
					<option value="Piła">Piła</option>
					<option value="Poznań">Poznań</option>
					<option value="Kalisz">Kalisz</option>
					<option value="Bydgoszcz">Bydgoszcz</option>
					<option value="Włocławek">Włocławek</option>
					<option value="Grudziądz">Grudziądz</option>
					<option value="Warszawa">Warszawa</option>
					<option value="Radom">Radom</option>
					<option value="Ostrołęka">Ostrołęka</option>
					<option value="Lublin">Lublin</option>
					<option value="Biala Podlaska">Biala Podlaska</option>
					<option value="Zamość">Zamość</option>
					<option value="Kłodzko">Kłodzko</option>
					<option value="Wrocław">Wrocław</option>
					<option value="Bolesławiec">Bolesławiec</option>
					<option value="Wieluń">Wieluń</option>
					<option value="Łódź">Łódź</option>
					<option value="Marianka">Marianka</option>
					<option value="Sulejów">Sulejów</option>
					<option value="Stalowa Wola">Stalowa Wola</option>
					<option value="Rzeszów">Rzeszów</option>
					<option value="Sanok">Sanok</option>
					<option value="Kielce">Kielce</option>
					<option value="Busko-Zdrój">Busko-Zdrój</option>
					<option value="Końskie">Końskie</option>
					<option value="Kraków">Kraków</option>
					<option value="Zakopane">Zakopane</option>
					<option value="Nowy Sącz">Nowy Sącz</option>
					<option value="Tarnów">Tarnów</option>
					<option value="Częstochowa">Częstochowa</option>
					<option value="Katowice">Katowice</option>
					<option value="Bielsko-Biała">Bielsko-Biała</option>
					<option value="Rybnik">Rybnik</option>
					<option value="Nysa">Nysa</option>
					<option value="Opole">Opole</option>
					<option value="Kluczbork">Kluczbork</option>
					<option value="Nawojowa Góra">Nawojowa Góra</option>
					<option value="Witanowice">Witanowice</option>
				</select>




				<!-- Pole typu RADIO -->
					<p>Kąt odchylenia od południa</p>
						<select name="direction" size="1">
							<option  value="">----- Wybierz -----</option>
							<option  value="18">0 stopni</option>
							<option  value="17">-5 stopni</option>
							<option  value="16">-10 stopni</option>
							<option  value="15">-15 stopni</option>
							<option  value="14">-20 stopni</option>
							<option  value="13">-25 stopni</option>
							<option  value="12">-30 stopni</option>
							<option  value="11" selected="selected" >-35 stopni</option>
							<option  value="10">-40 stopni</option>
							<option  value="9">-45 stopni</option>
							<option  value="8">-50 stopni</option>
							<option  value="7">-55 stopni</option>
							<option  value="6">-60 stopni</option>
							<option  value="5">-65 stopni</option>
							<option  value="4">-70 stopni</option>
							<option  value="3">-75 stopni</option>
							<option  value="2">-80 stopni</option>
							<option  value="1">-85 stopni</option>
							<option  value="0">-90 stopni</option>
						</select>

				<!-- Pole tekstowe -->
						<p>Powierzchnia dachu <strong>m<SUP>2</SUP></strong></p>
						<input name="area" id="area"  placeholder="50" type="text"> <br /><br />

				<!-- Obrazek  -->
						<img src="../static/pictures/sunAbovePoland.jpg" alt="Map of Poland" /><br /><br />

						
				<!-- Pole komentarza (o powiększonych rozmiarach oraz z tekstem domyślnym)-->
					<p>Podaj swój komentarz:</p>
						<textarea name="comment" cols="50" rows="10"></textarea>
						<br />
						<br />
						<br />

				<!-- Przycisk WYŚLIJ -->
						<input type="submit" value="Oblicz" />

						
				<!-- Przycisk WYCZYŚĆ DANE -->
						<input type="reset" value="Wyczyść dane"/>
				</input>

																										<!-- dlaczego musialem tu zamknac tag skoro wczesniej zamykalem? -->
			</div>
		</form>
	</body>
</html>




