<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>PV Cells | Results</title>
</head>
<body>
<h1>File loaded successfully</h1>
<h2>Try harder Kornel</h2>

<div>
    <!-- <span th:text="${toJestObiektZDanymi.name}"/>-->
    <span th:text="${response.pvInfoFromUser.city}"/>
</div>


</body>
</html>