<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Kalkulator instalacji fotowoltaicznej</title>

    <!--<link rel="icon" th:href="@{calculatorPages/img/favicon.png}"/>-->
    <link rel="stylesheet" th:href="@{calculatorPages/css/requestAndResponsePageStyle.css}"/>
    <link rel="stylesheet" th:href="@{calculatorPages/css/jquery-ui.min.css}"/>


</head>

<body>
<div class="container">
    <div class="solar-panel"></div>
    <div class="content">

        <form action="submit" method="post">

            <div class="title">
                <h1>Kalkulator korzyści z instalacji fotowoltaicznej</h1>
                <h2>Sprawdź ile możesz zaoszczędzić na rachunkach za energię elektryczną</h2>
            </div>

            <div>
                <label for="kwh">Roczne zużycie prądu w kWh:</label>
                <input type="text" id="kwh" name="kwh"/>
            </div>

            <div>
                <label for="electricityBill">Roczne wydatki na energię elektryczną <b>[zł]</b>:</label>
                <input type="text" id="electricityBill" name="electricityBill"/>
            </div>

            <div>
                <label for="city">Miejscowość:</label>
                <select name="city" id="city">
                    <option value="" selected="selected">Wybierz miasto</option>
                    <option value="Szczecin">Szczecin</option>
                    <option value="Koszalin">Koszalin</option>
                    <option value="Wałcz">Wałcz</option>
                    <option value="Gdańsk">Gdańsk</option>
                    <option value="Słupsk">Słupsk</option>
                    <option value="Chojnice">Chojnice</option>
                    <option value="Olsztyn">Olsztyn</option>
                    <option value="Elbląg">Elbląg</option>
                    <option value="Ełk">Ełk</option>
                    <option value="Suwałki">Suwałki</option>
                    <option value="Białystok">Białystok</option>
                    <option value="Łomża">Łomża</option>
                    <option value="Gorzów Wielkopolski">Gorzów Wielkopolski</option>
                    <option value="Zielona Góra">Zielona Góra</option>
                    <option value="Żary">Żary</option>
                    <option value="Piła">Piła</option>
                    <option value="Poznań">Poznań</option>
                    <option value="Kalisz">Kalisz</option>
                    <option value="Bydgoszcz">Bydgoszcz</option>
                    <option value="Włocławek">Włocławek</option>
                    <option value="Grudziądz">Grudziądz</option>
                    <option value="Warszawa">Warszawa</option>
                    <option value="Radom">Radom</option>
                    <option value="Ostrołęka">Ostrołęka</option>
                    <option value="Lublin">Lublin</option>
                    <option value="Biala Podlaska">Biala Podlaska</option>
                    <option value="Zamość">Zamość</option>
                    <option value="Kłodzko">Kłodzko</option>
                    <option value="Wrocław">Wrocław</option>
                    <option value="Bolesławiec">Bolesławiec</option>
                    <option value="Wieluń">Wieluń</option>
                    <option value="Łódź">Łódź</option>
                    <option value="Marianka">Marianka</option>
                    <option value="Sulejów">Sulejów</option>
                    <option value="Stalowa Wola">Stalowa Wola</option>
                    <option value="Rzeszów">Rzeszów</option>
                    <option value="Sanok">Sanok</option>
                    <option value="Kielce">Kielce</option>
                    <option value="Busko-Zdrój">Busko-Zdrój</option>
                    <option value="Końskie">Końskie</option>
                    <option value="Kraków">Kraków</option>
                    <option value="Zakopane">Zakopane</option>
                    <option value="Nowy Sącz">Nowy Sącz</option>
                    <option value="Tarnów">Tarnów</option>
                    <option value="Częstochowa">Częstochowa</option>
                    <option value="Katowice">Katowice</option>
                    <option value="Bielsko-Biała">Bielsko-Biała</option>
                    <option value="Rybnik">Rybnik</option>
                    <option value="Nysa">Nysa</option>
                    <option value="Opole">Opole</option>
                    <option value="Kluczbork">Kluczbork</option>
                    <option value="Nawojowa Góra">Nawojowa Góra</option>
                    <option value="Witanowice">Witanowice</option>
                </select>
            </div>

            <div>
                <label for="roofAngle">Przybliżony kąt nachylenia dachu:</label>
                <select name="roofAngle" id="roofAngle">
                    <option value="" selected="selected">----- Wybierz -----</option>
                    <option value="0">0 stopni (poziomo)</option>
                    <option value="1">5 stopni</option>
                    <option value="2">10 stopni</option>
                    <option value="3">15 stopni</option>
                    <option value="4">20 stopni</option>
                    <option value="5">25 stopni</option>
                    <option value="6">30 stopni</option>
                    <option value="7">35 stopni</option>
                    <option value="8">40 stopni</option>
                    <option value="9">45 stopni</option>
                    <option value="10">50 stopni</option>
                    <option value="11">55 stopni</option>
                    <option value="12">60 stopni</option>
                    <option value="13">65 stopni</option>
                    <option value="14">70 stopni</option>
                    <option value="15">75 stopni</option>
                    <option value="16">80 stopni</option>
                    <option value="17">85 stopni</option>
                    <option value="18">90 stopni (pionowo)</option>
                </select>
            </div>

            <div>
                <label for="direction">Przybliżony kąt odchylenia budynku od południa:</label>
                <select name="direction" id="direction">
                    <option value="" selected="selected">----- Wybierz -----</option>
                    <option value="18">0 stopni</option>
                    <option value="17">5 stopni</option>
                    <option value="16">10 stopni</option>
                    <option value="15">15 stopni</option>
                    <option value="14">20 stopni</option>
                    <option value="13">25 stopni</option>
                    <option value="12">30 stopni</option>
                    <option value="11">35 stopni</option>
                    <option value="10">40 stopni</option>
                    <option value="9">45 stopni</option>
                    <option value="8">50 stopni</option>
                    <option value="7">55 stopni</option>
                    <option value="6">60 stopni</option>
                    <option value="5">65 stopni</option>
                    <option value="4">70 stopni</option>
                    <option value="3">75 stopni</option>
                    <option value="2">80 stopni</option>
                    <option value="1">85 stopni</option>
                    <option value="0">90 stopni</option>
                </select>
            </div>

            <div>
                <label for="area">Powierzchnia dachu <b>[m<sup>2</sup>]</b>:</label>
                <input type="text" id="area" name="area"/>
            </div>


            <div>
                <label for="roofType">Typ pokrycia dachu:</label>
                <select name="roofType" id="roofType">
                    <option value="Dach skośny - blachodachówka" selected="selected">Dach skośny - blachodachówka</option>
                    <option value="Dach skośny - dachówka">Dach skośny - dachówka</option>
                    <option value="Dach skośny – blacha trapezowa">Dach skośny – blacha trapezowa</option>
                    <option value="Instalacja naziemna">Instalacja naziemna</option>
                    <option value="Dach płaski">Dach płaski</option>
                </select>
            </div>

            <!--<div>
                <label for="result" class="result">W jakim stopniu energia słoneczna ma pokryć zapotrzebowanie na
                    energię elektryczną budynku?</label>
                <div id="slider"></div>
                <input type="text" id="result" name="result" readonly="readonly" value="0"/>
            </div>-->


            <div>
                <input type="submit" value="Oblicz" id="oblicz"/>
                <input type="reset" value="Wyczyść dane"/>
            </div>

        </form>

    </div>
</div>

<script th:src="@{calculatorPages/jquery/jquery-1.12.4.js}"></script>
<script th:src="@{calculatorPages/jquery/jquery-ui.min.js}"></script>
<script th:src="@{calculatorPages/script.js}"></script>


<script>
      $( function() {
        $( "#slider" ).slider({
          min: 0,
          max: 1,
          step: 0.01,
          slide: function(event, ui) {
           $('#result').val(ui.value);
         }
        });
      } );


</script>

</body>

</html>
