<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Kalkulator instalacji fotowoltaicznej</title>

    <link rel="stylesheet" th:href="@{calculatorPages/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{calculatorPages/css/requestAndResponsePageStyle.css}"/>
    <link rel="stylesheet" th:href="@{calculatorPages/css/jquery-ui.min.css}"/>


</head>

<body>
<div class="container">
    <div class="solar-panel">
        <div class="solar-overlay"></div>
    </div>
    <div class="content content-result">

        <div class="title title-result">
            <h1>Podsumowanie obliczeń</h1>
            <h2>Podstawowe parametry instalacji </h2>
        </div>


        <div class="result-block">
            <div class="icon">
                <i class="fa fa-3x fa-plug" aria-hidden="true"></i>
            </div>
            <div class="result-data">
                <p>Roczne zużycie energii wynosi: <strong><span class="kwh-result"
                                                                th:text="${response.pvInfoFromUser.kwh}"/>
                    kWh</strong></p>
                <p>Roczne wydatki na energię: <strong><span class="electricityBill-result"
                                                            th:text="${response.pvInfoFromUser.bill}"/> zł</strong></p>
            </div>
        </div>

        <div class="result-block">
            <div class="icon">
                <i class="fa fa-3x fa-home" aria-hidden="true"></i>
            </div>
            <div class="result-data">
                <p>Miejscowość: <strong><span class="city-result" th:text="${response.pvInfoFromUser.city}"/></strong>
                </p>
                <p>Orientacja budynku: <strong><span class="direction-result"
                                                     th:text="${response.pvInfoFromUser.deviationFromSouthPercent}"/>
                    stopni</strong></p>
                <p>Typ pokrycia dachu: <strong><span class="roofType-result"
                                                     th:text="${response.pvInfoFromUser.roofType}"/></strong></p>

                <p>Kąt pochylenia dachu: <strong><span class="roofArea-result"
                                                       th:text="${response.pvInfoFromUser.roofAnglePercent}"/>
                    stopni</strong></p>
                <p>Dostępna powierzchnia dachu: <strong><span class="city-result"
                                                       th:text="${response.pvInfoFromUser.roofArea}"/> m<SUP>2</SUP></strong>
                </p>

            </div>
        </div>

        <div class="result-block">
            <div class="icon">
                <i class="fa fa-3x fa-sun-o" aria-hidden="true"></i>
            </div>
            <div class="result-data">
                <p>Moc szczytowa instalacji: <strong><span class="city-result" th:text="${response.energyDemandLevel}"/>
                    kWp</strong></p>
                <p>Wymagana powierzchnia niezacienionej połaci dachu <br>by pokryć 100% zapotrzebowania: <strong><span
                        class="city-result"
                        th:text="${response.areaForDemand}"/> m<SUP>2</SUP></strong></br>
                </p>
                <p>Twój dach może pokryć <strong><span class="coverageOfEnergyDemand-result"
                                                       th:text="${response.coverage}"/> % </strong>zapotrzebowania
                </p>
                <p>Przybliżony koszt inwestycji: <strong><span class="city-result"
                                                               th:text="${response.investmentCost}"/> zł</strong></p>
                <p>Okrest zwrotu: <strong><span class="city-result" th:text="${response.returnPeriod}"/> lat (nie obsługiwane...jeszcze)</strong>
                </p>
            </div>
        </div>
    </div>
</div>


<script th:src="@{calculatorPages/jquery/jquery-1.12.4.js}"></script>
<script th:src="@{calculatorPages/jquery/jquery-ui.min.js}"></script>
<script th:src="@{calculatorPages/script.js}"></script>

<script>
      $( function() {
        $( "#slider" ).slider({
          min: 0,
          max: 1,
          step: 0.01,
          slide: function(event, ui) {
           $('#result').val(ui.value);
         }
        });
      } );






</script>
</body>

</html>
